h3{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
h4{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
.li{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
.title{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
h2{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
.downloads{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
.logs{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
h1{
font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
.image69 img{
border-radius: 50px;
  border: 7px solid #97d4da;
}